<div class="text-xl font-semibold text-gray-600">
  <%= task.title %>
</div>
<p>
  <%= task.text %>
</p>

<%= turbo_stream_from task.last_result %>

<div id="<%= dom_id task.last_result %>">
  <%= render task.last_result %>
</div>
<!--%= render partial: "task_results/task_result", locals: { result: task.last_result } %-->