<div class="text-xl font-semibold text-gray-600">
  <%= task.title %>
</div>
<p>
  <%= task.text %>
</p>

<%= turbo_stream_from task, :task_results %>

<% if @current_user.nil? %>
  <%= label_tag("Необходимо войти в аккаунт для отображения результатов лабораторных")%>
<% else %>
  <div id="<%= last_result_dom_id(task, @current_user) %>">
    <%= render task.last_result_for_user(@current_user) %>
  </div>
<% end %>