<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Регистрация</h2>
  </div>

  <% unless error_messages.empty? %>
    <div class="mt-5 p-3 pl-5 border border-red-600 rounded-md bg-red-100 sm:mx-auto sm:w-full sm:max-w-sm">
      <ul>
        <% error_messages.each do |error_message| %>
           <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
    <% provide :form_mt, "mt-0.5" %>
  <% else %>
    <% provide :form_mt, "mt-7" %>
  <% end %>

  <div class="<%= yield(:form_mt) %> sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: users_path, method: :post, class: "space-y-6" do |form| %>
      <%= render partial: "users/input_field", locals: {label_text: "Фамилия", input_name: "surname", required: true} %>

      <%= render partial: "users/input_field", locals: {label_text: "Имя", input_name: "name", required: true} %>

      <%= render partial: "users/input_field", locals: {label_text: "Отчество", input_name: "middle_name", required: false} %>

      <%= render partial: "users/input_field", locals: {label_text: "Ссылка на репозиторий", input_name: "repo_link", required: true} %>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600
                                     px-3 py-1.5 text-sm font-semibold leading-6
                                     text-white shadow-sm hover:bg-indigo-500
                                     focus-visible:outline focus-visible:outline-2
                                     focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Зарегистрироваться</button>
      </div>
    <% end %>
  </div>
</div>