<!DOCTYPE html>
<html>
  <head>
    <title>RubyLab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header id="header" data-turbo-permanent>
      <%= render partial: 'shared/navbar', locals: { nav_name: yield(:nav_name) } %>
    </header>
    <%= yield :sidebar if content_for?(:sidebar) %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
